# Android
.gradle/
.idea/
build/
local.properties
*.iml
*.jks
captures/
.DS_Store

# Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
media/
.venv/
env/
venv/
*.env
.vscode/

# System
Thumbs.db
desktop.ini
